<div class="flex flex-col ">
  <div class="flex justify-center">
      <%== pagy_nav(@pagy) %>
  </div>
  <div class="flex flex-row flex-wrap justify-left gap-6">
    <% @images.each do |image| %>
      <div class="bg-indigo-300 ...">
        <%= image_tag image.signed_url, class: "h-48 w-48" %>
      </div>
    <% end %>
  </div>
</div>
