<div class="flex flex-col ">
  <div>
    <p>
      Links to:
    </p>
    <ul>
      <li>
        <%= link_to 'index images', images_path %>
      </li>
      <li>
        <%= link_to 'download a image', image_path(@image.name_url_safe_encoded, format: :jpeg) %>
      </li>
    </ul>
  </div>
  <div class="flex flex-row justify-center">
    <div class="bg-indigo-300">
      <%= image_tag @image.signed_url, class: "h-192 w-192" %>
    </div>
  </div>
</div>
